@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --secondary: #666666;
  --font-body: 'Inter', sans-serif;
  --container-padding: 1.5rem;
}

@media (min-width: 768px) {
  :root {
    --container-padding: 4rem;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  line-height: 1.2;
}

.hero-img {
    height: 120vh;
    width: auto;
    position: fixed;
    bottom: -30vh;
    right: -10vw;
    z-index: 0;
    pointer-events: none;
}

@media (max-width: 1024px) {
    .hero-img {
        height: 60vh;
        right: -20vw;
        bottom: -10vh;
        opacity: 0.6;
    }
}